html {
    --maze-blue: #39a1fc;
    --maze-green: #53fc39;
    --maze-yellow: #fcfc39;
    --maze-red: #fc5039;
    --maze-orange: #fcb139;
    --maze-navy: darkblue;
    --maze-black: #1a1a1a;
    --maze-white: #efedec;
    --maze-xxs: 1rem;
    --maze-xs:1.25rem;
    --maze-s:1.5rem;
    --maze-m:2.25rem;
    --maze-l:4rem;
    --maze-xl:7rem;
    --maze-xxl:9rem;
    background-color: var(--maze-navy);
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::selection {
    background: var(--maze-orange) /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: var(--maze-orange) /* WebKit/Blink Browsers */
}